.DropDown__Container {
  position: sticky;
  top: 8vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;

  .DropDown__Link {
    padding: 0.5rem;
  }
}
