@import "/src/Variables/scss/variables";
@import "/src/Variables/scss/mixins";
.Login__Container {
  background-color: white;
  height: 77.5vh;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.Login__Wrapper {
  max-width: 55rem;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  background-color: white;
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;

  @include responsive("lg") {
    max-width: 24rem;
  }

  @include responsive("md") {
    width: 90%;
  }
}

.Login__Image__Card {
  display: block;
  width: 50%;
  background-size: cover;

  @include responsive("lg") {
    display: none;
  }

  img {
    width: 100%;
    height: 100%;
  }
}

.Login__Card {
  width: 50%;
  padding: 2rem;

  @include responsive("lg") {
    width: 100%;
  }
}

.Validation__Container {
  margin-top: 1.2rem;
  height: 4.5rem;

  .Validation__Text-box {
    display: flex;
    justify-content: space-between;
  }

  .Validation__Text {
    display: block;
    color: #4a5568;
    font-weight: 700;
    font-size: 0.875rem;
    line-height: 1.25rem;
    margin-bottom: 0.5rem;
  }

  .Radio__Container {
    margin: 0.5rem 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
  }

  .Validation__Input {
    width: 92%;
    background-color: #edf2f7;
    color: #4a5568;
    border: 1px solid #e2e8f0;
    border-radius: 0.25rem;
    padding: 0.5rem 1rem;
    appearance: none;

    @include responsive("md") {
      width: 90%;
    }

    &:focus {
      outline: 2px solid transparent;
      box-shadow: 0 0 0 3px $AfoterRed;
    }
  }

  .Correct__Message {
    margin: 0.5rem;
    font-size: 0.8rem;
    color: rgb(29, 219, 22);
  }

  .Error__Message {
    margin: 0.5rem;
    font-size: 0.8rem;
    color: $AfoterRed;
  }
}

.Button__Container {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  margin-top: 2rem;
}

.Login__Button {
  background-color: $AfoterRed;
  border: none;
  color: white;
  font-weight: 700;
  padding: 0.5rem 1.5rem;
  border-radius: 0.25rem;

  &:disabled {
    background-color: lightgray;
    color: #fff;
    cursor: not-allowed;
  }

  &:hover {
    background-color: darken($color: $AfoterRed, $amount: 10%);
  }
}
